<div class="col-md-12 mt-4">
    <div class="card">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-secondary shadow-warning border-radius-lg pt-4 pb-3">
                <h5 class="text-white text-capitalize ps-3">Payment Methods</h5>
            </div>
        </div>
        <div class="card-body pt-4 p-3">
            <div class="row justify-content-center my-4">
                <div class="col-lg-6 col-md-10 col-sm-12">
                    <div class="card">
                        <div class="card-header p-3 pt-2">
                            <div class="icon icon-lg icon-shape text-center border-radius-xl mt-n4 position-absolute">
                                <img class="mt-2" width="40px" src="https://assets.coingecko.com/coins/images/9520/large/Epic_Coin_NO_drop_shadow.png?1620122642">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row align-items-center justify-content-between">
                                <div class="col-4"><span class="text-xs">Network:</span></div>
                                <div class="col-8 text-dark text-xs ms-sm-2 font-weight-bold" style="max-width: 300px">
                                    EPIC
                                </div>
                                <div class="text-center"><hr style="margin: 1px; width: 90%"></div>
                            </div>

                            <div class="row align-items-center justify-content-between">
                                <div class="col-4"><span class="text-xs">Accepted:</span></div>
                                <div class="col-8 text-dark text-xs ms-sm-2 font-weight-bold" style="max-width: 300px">
                                    Native EPIC <span class="text-xs text-muted">(minimum 0.001)</span>
                                </div>
                                <div class="text-center"><hr style="margin: 1px; width: 90%"></div>
                            </div>

                            <div class="row align-items-center justify-content-between">
                                <div class="col-4"><span class="text-xs">Wallet address:</span></div>
                                <div class="col-8 text-dark text-xs ms-sm-2 font-weight-bold" style="max-width: 300px">
                                    https://gateway.vgate.io/gateway/epic-deposit/6097718571
                                </div>
                                <div class="text-center"><hr style="margin: 1px; width: 90%"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center my-4">
                <div class="col-lg-6 col-md-10 col-sm-12">
                    <div class="card">
                        <div class="card-header p-3 pt-2">
                            <div class="icon icon-lg icon-shape text-center border-radius-xl mt-n4 position-absolute">
                                <img class="mt-2" width="40px" src="https://assets.coingecko.com/coins/images/4513/large/Vite.png?1558014583">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row align-items-center justify-content-between">
                                <div class="col-4"><span class="text-xs">Network:</span></div>
                                <div class="col-8 text-dark text-xs ms-sm-2 font-weight-bold" style="max-width: 300px">
                                    VITE
                                </div>
                                <div class="text-center"><hr style="margin: 1px; width: 90%"></div>
                            </div>

                            <div class="row align-items-center justify-content-between">
                                <div class="col-4"><span class="text-xs">Accepted:</span></div>
                                <div class="col-8 text-dark text-xs ms-sm-2 font-weight-bold" style="max-width: 300px">
                                    EPIC-002 | BTC-000 | USDT-000
                                </div>
                                <div class="text-center"><hr style="margin: 1px; width: 90%"></div>
                            </div>

                            <div class="row align-items-center justify-content-between">
                                <div class="col-4"><span class="text-xs">Wallet address:</span></div>
                                <div class="col-8 text-dark text-xs ms-sm-2 font-weight-bold" style="max-width: 300px">
                                    vite_a2b1215c941983ca9840336935a76da11d5870ac927ed8e6f1
                                </div>
                                <div class="text-center"><hr style="margin: 1px; width: 90%"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center my-4">
                <div class="col-lg-6 col-md-10 col-sm-12">
                    <div class="card">
                        <div class="card-header p-3 pt-2">
                            <div class="icon icon-lg icon-shape text-center border-radius-xl mt-n4 position-absolute">
                                <img class="mt-2" width="40px" src="https://bitcoin.org/img/icons/opengraph.png?1652976465">
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="row align-items-center justify-content-between">
                                <div class="col-4"><span class="text-xs">Network:</span></div>
                                <div class="col-8 text-dark text-xs ms-sm-2 font-weight-bold" style="max-width: 300px">
                                    Bitcoin
                                </div>
                                <div class="text-center"><hr style="margin: 1px; width: 90%"></div>
                            </div>

                            <div class="row align-items-center justify-content-between">
                                <div class="col-4"><span class="text-xs">Accepted:</span></div>
                                <div class="col-8 text-dark text-xs ms-sm-2 font-weight-bold" style="max-width: 300px">
                                    BTC <span class="text-xs text-muted">(minimum 0.0008)</span>
                                </div>
                                <div class="text-center"><hr style="margin: 1px; width: 90%"></div>
                            </div>

                            <div class="row align-items-center justify-content-between">
                                <div class="col-4"><span class="text-xs">Wallet address:</span></div>
                                <div class="col-8 text-dark text-xs ms-sm-2 font-weight-bold" style="max-width: 300px">
                                    1DAjCSXjwAo2pyutyW12TiknQ8JXxGFPW1
                                </div>
                                <div class="text-center"><hr style="margin: 1px; width: 90%"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>