<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>blacktyg3r.com</title>

    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{{HOME_ASSET_ROOT}}/images/avatar.ico">

    <!-- CSS Style -->
    <link rel="stylesheet" href="{{HOME_ASSET_ROOT}}/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="{{HOME_ASSET_ROOT}}/css/plugins/feature.css">
    <link rel="stylesheet" href="{{HOME_ASSET_ROOT}}/css/vendor/slick.css">
    <link rel="stylesheet" href="{{HOME_ASSET_ROOT}}/css/vendor/slick-theme.css">
    <link rel="stylesheet" href="{{HOME_ASSET_ROOT}}/css/vendor/lightbox.css">
    <link rel="stylesheet" href="{{HOME_ASSET_ROOT}}/css/vendor/fontawesome.css">
    <link rel="stylesheet" href="{{HOME_ASSET_ROOT}}/css/style.css">
</head>

<body class="position-relative spybody" data-spy="scroll" data-target=".navbar-example2" data-offset="100">
    <div class="active-dark">
    <!-- Header Area Strart -->
    <header class="header-area formobile-menu header--fixed header--sticky default-color">
        <div class="header-wrapper" id="header-wrapper">
            <div class="header-left">
                <!-- <p class="text-secondary">blacktyg3r.com</p> -->
            </div>
            <div class="header-right">
                <nav class="mainmenunav d-none d-lg-block navbar-example2">
                    <ul class="mainmenu nav nav-pills">
                        <li class="nav-item"><a class="nav-link smoth-animation active" href="#home">Home</a></li>
                        <li class="nav-item"><a class="nav-link smoth-animation" href="#service">Services</a></li>
                        <li class="nav-item"><a class="nav-link smoth-animation" href="#about">About</a></li>
                        <li class="nav-item"><a class="nav-link smoth-animation" href="#portfolio">Portfolio</a></li>    
                        <li class="nav-item"><a class="nav-link smoth-animation" href="#articles">Articles</a></li>
                        <li class="nav-item"><a class="nav-link smoth-animation" href="#partners">Partners</a></li>

                    </ul>
                </nav>

                <div class="humberger-menu d-block d-lg-none pl--20 pl_sm--10">
                    <span class="menutrigger text-white">
                        <i data-feather="menu"></i>
                    </span>
                </div>
                <div class="close-menu d-block d-lg-none">
                    <span class="closeTrigger">
                        <i data-feather="x"></i>
                    </span>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Area End -->

    <!-- Start Popup Menu Area  -->
    <div class="rn-popup-mobile-menu one-page-popup-menu">
        <div class="inner">
            <div class="popup-menu-top text-light">
                blacktyg3r.com
                <div class="close-menu d-block d-lg-none">
                    <span class="closeTrigger text-light">
                        <i data-feather="x"></i>
                    </span>
                </div>
            </div>
            <div class="navbar-example2">
                <ul class="mainmenu nav nav-pills">
                    <li class="nav-item"><a class="nav-link smoth-animation active" href="#home">Home</a></li>
                    <li class="nav-item"><a class="nav-link smoth-animation" href="#service">Services</a></li>
                    <li class="nav-item"><a class="nav-link smoth-animation" href="#about">About</a></li>
                    <li class="nav-item"><a class="nav-link smoth-animation" href="#portfolio">Portfolio</a></li>
                    <li class="nav-item"><a class="nav-link smoth-animation" href="#articles">Articles</a></li>
                    <li class="nav-item"><a class="nav-link smoth-animation" href="#partners">Partners</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Popup Menu Area  -->

    <!-- start Slider area -->
    <div class="slider-wrapper">
        <div class="slider-activation slider-creative-agency with-particles" id="home">
            <div id="particles-js"></div>
                <div class="im_modern_slider bg_image bg_image--27 ">
                    <div class="slide slide-style-2 slider-fixed--height d-flex align-items-center">
                        <div class="container position-relative">
                            <div class="service-wrapper service-white">
                                <div class="row row--25 justify-content-center">
                                    <div class="col-lg-12">
                                        <div class="inner">
                                            <h1 class="title theme-gradient">
                                                Hey, I'm blacktyg3r
                                            </h1>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="service service__style--1">
                                            <!-- <div class="icon">
                                                <i data-feather="box"></i>
                                            </div> -->
                                            <div class="content">
                                                <h4 class="title">Software developer based in Scotland, UK.
                                                </h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="inner text-center pb-5">
                        <ul class="social-share rn-lg-size d-flex justify-content-center liststyle">
                            <li><a target="_blank" href="https://www.linkedin.com/in/patryk-majkut-46035b1b4/"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a target="_blank" href="https://twitter.com/blacktyg3r"><i class="fab fa-twitter"></i></a></li>
                            <li><a target="_blank" href="https://github.com/blacktyger/"><i class="fab fa-github"></i></a></li>
                            <li><a target="_blank" href="https://t.me/blacktyg3r"><i class="fab fa-telegram"></i></a></li>
                            <li><a target="_blank" href="https://blacktyg3r.medium.com/"><i class="fab fa-medium"></i></a>
                            <li><a target="_blank" href="https://www.reddit.com/user/blacktyg3r"><i class="fab fa-reddit"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    <!-- end Slider Area -->


    <!-- start Services Area -->
    <div class="service-area ptb--120 bg_color--10" id="service">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title text-center">
                         <h2 class="title theme-gradient">SERVICES</h2>
                        <!--<p class="description">There are many variations of passages of Lorem Ipsum available, <br> but the
                            majority have suffered alteration.</p> -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-12 mt--30">
                    <div class="row service-main-wrapper">
                        <!-- start single Services -->
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                                <div class="service service__style--2 minw300 text-left">
                                <div class="icon ">
                                    <i data-feather="code"></i>
                                </div>
                                <div class="content">
                                    <h3 class="title">Back-End</h3>
                                    <p>
                                        Python scripts, data engineering, API
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- End single Services -->

                        <!-- start single Services -->
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="service service__style--2 minw300 text-left ">
                                <div class="icon">
                                    <i data-feather="monitor"></i>
                                </div>
                                <div class="content">
                                    <h3 class="title">Front-End</h3>
                                    <p>JavaScript Full-Stack Web & Desktop apps</p>
                                </div>
                            </div>
                        </div>
                        <!-- End single Services -->

                        <!-- start single Services -->
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="service service__style--2 minw300 text-left">
                                <div class="icon">
                                    <i data-feather="box"></i>
                                </div>
                                <div class="content">
                                    <h3 class="title">Blockchain</h3>
                                    <p>Developing for open-source projects</p>
                                </div>
                            </div>
                        </div>
                        <!-- End single Services -->

                        <!-- start single Services -->
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="service service__style--2 minw300 text-left">
                                <div class="icon">
                                    <i data-feather="edit-3"></i>
                                </div>
                                <div class="content">
                                    <h3 class="title">Writings</h3>
                                    <p>Content creator in social-media</p>
                                </div>
                            </div>
                        </div>
                        <!-- End single Services -->

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Services Area -->


    <!-- Start About Area -->
    <div id="about" class="fix">
        <div class="about-area ptb--120 bg_color--5">
            <div class="about-wrapper">
                <div class="container">
                    <div class="row row--35">
                        <div class="col-lg-5">
                            <div class="thumbnail"><img class="w-100" src="{{HOME_ASSET_ROOT}}/images/about/about-1.png"
                                    alt="About Images"></div>
                        </div>
                        <div class="col-lg-7">
                            <div class="about-inner inner">
                                <div class="section-title">
                                    <h2 class="title theme-gradient">ABOUT ME</h2>
                                    <p class="description mt_dec--20">
                                        Hey, I'm Patryk - born and raised in Poland, living and studying in Scotland. After decade in the construction industry
                                        I decided to re-design my career path and instead of wood and metal use keyboard and screen to create. Following blockchain
                                        technology since 2013, self taught and actively developing in ecosystem for 3+ years.
                                    </p>
                                </div>
                                <div class="row mt--30">
                                    <div>
                                        <div class="tabs-area">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="tab-wrapper">
                                                            <ul class="tab-style--1 nav nav-tabs" id="myTab" role="tablist">
                                                                <li class="nav-item">
                                                                    <a class="active" id="mainskill" data-toggle="tab"
                                                                        href="#rn-mainskill" role="tab"
                                                                        aria-controls="mainskill" aria-selected="true">Main
                                                                        skills</a>
                                                                </li>

                                                                <li class="nav-item">
                                                                    <a id="experience" data-toggle="tab"
                                                                        href="#rn-experience" role="tab"
                                                                        aria-controls="experience"
                                                                        aria-selected="false">Experience</a>
                                                                </li>
                                                                <li class="nav-item">
                                                                    <a id="education" data-toggle="tab" href="#rn-education"
                                                                        role="tab" aria-controls="education"
                                                                        aria-selected="false">Education</a>
                                                                </li>
                                                            </ul>
    
                                                            <div class="tab-content">
    
                                                                <div class="tab-pane fade show active" id="rn-mainskill"
                                                                    role="tabpanel" aria-labelledby="mainskill">
                                                                    <div class="single-tab-content">
                                                                        <div
                                                                            class="rn-progress-bar progress-bar--1 mt_dec--10">
                                                                            <div class="single-progress">
                                                                                <h6 class="title">Python/Django</h6>
                                                                                <div class="progress">
                                                                                    <div role="progressbar"
                                                                                        class="progress-bar wow fadeInLeft"
                                                                                        data-wow-duration="0.5s"
                                                                                        data-wow-delay=".3s"
                                                                                        aria-valuenow="90" aria-valuemin="0"
                                                                                        aria-valuemax="100"
                                                                                        style="width: 90%;"></div>
                                                                                </div><span class="label">90%</span>
                                                                            </div>
                                                                            <div class="single-progress">
                                                                                <h6 class="title">HTML/CSS/JS</h6>
                                                                                <div class="progress">
                                                                                    <div role="progressbar"
                                                                                        class="progress-bar wow fadeInLeft"
                                                                                        data-wow-duration="0.6s"
                                                                                        data-wow-delay=".4s"
                                                                                        aria-valuenow="50" aria-valuemin="0"
                                                                                        aria-valuemax="70"
                                                                                        style="width: 70%;"></div>
                                                                                </div><span class="label">70%</span>
                                                                            </div>
                                                                            <div class="single-progress">
                                                                                <h6 class="title">API/Databases</h6>
                                                                                <div class="progress">
                                                                                    <div role="progressbar"
                                                                                        class="progress-bar wow fadeInLeft"
                                                                                        data-wow-duration="0.7s"
                                                                                        data-wow-delay=".5s"
                                                                                        aria-valuenow="70" aria-valuemin="0"
                                                                                        aria-valuemax="100"
                                                                                        style="width: 70%;"></div>
                                                                                </div><span class="label">70%</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
    
                                                                <div class="tab-pane fade" id="rn-experience"
                                                                    role="tabpanel" aria-labelledby="experience">
                                                                    <div class="single-tab-content">
                                                                        <ul>
                                                                            <li><a href="#">Software Developer<span> -
                                                                                        Epic-Cash</span></a> 2019 -
                                                                                Current</li>
                                                                            <li><a href="#">Community Manager<span> -
                                                                                        Epic-Cash</span></a> 2019 -
                                                                                Current</li>
                                                                            <li><a href="service.html">Python Developer<span> - Profit Accumulator
                                                                                    </span></a> 09/2021- 01/2022</li>
                                                                            <li><a href="service.html">Joiner/Carpenter<span> - Self-employed
                                                                                    </span></a> 2010-2019</li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
    
                                                                <div class="tab-pane fade" id="rn-education" role="tabpanel"
                                                                    aria-labelledby="education">
                                                                    <div class="single-tab-content">
                                                                        <ul>
                                                                            <li><a href="#">Higher Diploma of Data Analysis<span>
                                                                                        - Open University, Scotland</span></a> 2019 - 2023
                                                                            </li>
                                                                            <ul class="list-style--1">
                                                                                <li><i data-feather="chevron-right"></i> Writing code in the Python language</li>
                                                                                <li><i data-feather="chevron-right"></i> Math, statistical and computing techniques</li>
                                                                                <li><i data-feather="chevron-right"></i> Experience of carrying out data analysis</li>
                                                                            </ul>
                                                                            <br>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End About Area -->

    <!-- Start Portfolio Area -->
    <div class="portfolio-area ptb--120 bg_color--1" id="portfolio">
        <div class="portfolio-sacousel-inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title text-center mb--30">
                            <h2 class="title theme-gradient">PORTFOLIO</h2>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <!-- EASY MINER -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-6">
                        <div class="im_portfolio text-left mt--40">
                            <div class="thumbnail_inner">
                                <div class="thumbnail">
                                    <a href="#">
                                        <img src="{{HOME_ASSET_ROOT}}/images/portfolio/easy-miner.png">
                                    </a>
                                </div>
                            </div>
                            <div class="content">
                                <div class="inner">
                                    <div class="portfolio_heading">
                                        <div class="category_list">
                                            <a href="#">Desktop App</a>
                                            Online <i class="mb-2 mr-2" data-feather="wifi"></i>
                                        </div>
                                        <h4 class="title"><a href="#">EPIC EASY-MINER</a></h4>
                                    </div>
                                    <div class="portfolio_hover">
                                        <p>Desktop GUI app for mining Epic-Cash</p>
                                    </div>
                                </div>
                            </div>
                            <a class="transparent_link" href="https://blacktyg3r.medium.com/epic-cash-epic-easy-miner-v2-0-update-f1e2216cc898" target="_blank"></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6 col-6">
                        <div class="im_portfolio text-left mt--40">
                            <div class="thumbnail_inner">
                                <div class="thumbnail"><a href="#">
                                        <img src="{{HOME_ASSET_ROOT}}/images/portfolio/telegram-bot.png"></a>
                                </div>
                            </div>
                            <div class="content">
                                <div class="inner">
                                    <div class="portfolio_heading">
                                        <div class="category_list">
                                            <a href="#">Telegram Bot</a>
                                            Online <i class="mb-2 mr-2" data-feather="wifi"></i>
                                        </div>
                                        <h4 class="title">
                                            <a href="#">EPIC-RADAR BOT</a>
                                        </h4>
                                    </div>
                                    <div class="portfolio_hover">
                                        <p>Mining calculator and market stats for Telegram</p>
                                    </div>
                                </div>
                            </div><a class="transparent_link" href="https://t.me/epicradarbot" target="_blank"></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6 col-6">
                        <div class="im_portfolio text-left mt--40">
                            <div class="thumbnail_inner">
                                <div class="thumbnail"><a href="#"><img
                                            src="{{HOME_ASSET_ROOT}}/images/portfolio/vitex-rollback.png" alt=""></a>
                                </div>
                            </div>
                            <div class="content">
                                <div class="inner">
                                    <div class="portfolio_heading">
                                        <div class="category_list">
                                            <a href="#">Web App</a>
                                            Online <i class="mb-2 mr-2" data-feather="wifi"></i>
                                        </div>
                                        <h4 class="title"><a href="#">ViteX-Rollback</a></h4>
                                    </div>
                                    <div class="portfolio_hover">
                                        <p>Process trading data from crypto exchange</p>
                                    </div>
                                </div>
                            </div><a class="transparent_link" href="https://vitex-rollback.herokuapp.com/" target="_blank"></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6 col-6">
                        <div class="im_portfolio text-left mt--40">
                            <div class="thumbnail_inner">
                                <div class="thumbnail"><a href="#">
                                    <img src="{{HOME_ASSET_ROOT}}/images/portfolio/auto-spinner.png"></a>
                                </div>
                            </div>
                            <div class="content">
                                <div class="inner">
                                    <div class="portfolio_heading">
                                        <div class="category_list">
                                            <a href="/">Desktop App</a>
                                            Private <i class="mb-2 mr-2" data-feather="eye-off"></i>
                                        </div>
                                        <h4 class="title">
                                            <a href="#portfolio">AutoSpinner</a>
                                        </h4>
                                    </div>
                                    <div class="portfolio_hover">
                                        <p>Designed for casino users to automate spinning</p>
                                    </div>
                                </div>
                            </div><a class="transparent_link" href="#portfolio"></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6 col-6">
                        <div class="im_portfolio text-left mt--40">
                            <div class="thumbnail_inner">
                                <div class="thumbnail"><a href="#"><img
                                            src="{{HOME_ASSET_ROOT}}/images/portfolio/epic-ticker.png" alt=""></a>
                                </div>
                            </div>
                            <div class="content">
                                <div class="inner">
                                    <div class="portfolio_heading">
                                        <div class="category_list">
                                            <a href="#">Website</a>
                                            Offline<i class="mb-2 mr-2" data-feather="wifi-off"></i>
                                        </div>
                                        <h4 class="title">
                                            <a href="#">Epic-Ticker.tech</a>
                                        </h4>
                                    </div>
                                    <div class="portfolio_hover">
                                        <p>Epic-Cash analytics web-app project</p>
                                    </div>
                                </div>
                            </div><a class="transparent_link" href="#portfolio"></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6 col-6">
                        <div class="im_portfolio text-left mt--40">
                            <div class="thumbnail_inner">
                                <div class="thumbnail"><a href="#"><img
                                            src="{{HOME_ASSET_ROOT}}/images/portfolio/epic-radar.png" alt=""></a>
                                </div>
                            </div>
                            <div class="content">
                                <div class="inner">
                                    <div class="portfolio_heading">
                                        <div class="category_list">                          
                                            <a href="#">Website</a>
                                            Offline <i class="mb-2 mr-2" data-feather="wifi-off"></i>
                                        </div>
                                        <h4 class="title">
                                            
                                            <a href="#">Epic-Radar.tech</a>
                                        </h4>
                                    </div>
                                    <div class="portfolio_hover">
                                        <p>Next gen analytics for Epic-Cash project</p>
                                    </div>
                                </div>
                            </div><a class="transparent_link" href="#portfolio"></a>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-12 mt-4">
                        <div class="section-title text-center mb--30">
                            <h4 class="title theme-gradient">
                                And many, many more... 
                            </h4>
                        </div>

                        <div class="view-more-btn mt--60 text-center">
                            <a target="_blank" class="btn-default"
                                href="https://github.com/blacktyger?tab=repositories">
                                <span>View More Project</span>
                            </a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- start Articles Area -->
    <div class="service-area ptb--120 bg_color--10" id="articles">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title text-center">
                        <h2 class="title theme-gradient">ARTICLES</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-12 mt--30">

                    <div class="row service-main-wrapper">
                        <!-- start single Article -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-6">
                            <a href="https://medium.com/p/22639641448e" target="_blank">
                                <div class="service service__style--2 minw270 text-left">
                                    <div class="icon ">
                                        <i class="fab fa-medium"></i>
                                    </div>
                                    <div class="content">
                                        <h3 class="title">Medium</h3>
                                        <p>
                                            Epic-Cash: Core Software 
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- End single Article -->
    
                        <!-- start single Article -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-6">
                            <a href="https://medium.com/@blacktyg3r/epic-cash-epic-easy-miner-v2-0-update-f1e2216cc898" target="_blank">
                                <div class="service service__style--2 minw270 text-left">
                                    <div class="icon">
                                        <i class="fab fa-medium"></i>
                                    </div>
                                    <div class="content">
                                        <h3 class="title">Medium</h3>
                                        <p>Epic-Cash: Easy Miner v2.0</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- End single Article -->
    
                        <!-- start single Article -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-6">
                            <a href="https://medium.com/@blacktyg3r/what-is-fastepic-eu-49159bf18fb4" target="_blank">
                                <div class="service service__style--2 minw270 text-left">
                                    <div class="icon ">
                                        <i class="fab fa-medium"></i>
                                    </div>
                                    <div class="content">
                                        <h3 class="title">Medium</h3>
                                        <p>
                                            What is Fastepic.eu
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- End single Article -->

                        <!-- start single Article -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-6">
                            <a href="https://www.reddit.com/r/epiccash/comments/mrbl98/using_stellar_xlm_to_trade_epiccash_in/" target="_blank">
                                <div class="service service__style--2 minw270 text-left">
                                    <div class="icon ">
                                        <i class="fab fa-reddit"></i>
                                    </div>
                                    <div class="content">
                                        <h3 class="title">Reddit</h3>
                                        <p>
                                            Trade Epic-Cash using Stellar.
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- End single Article -->

                        <!-- start single Article -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-6">
                            <a href="https://www.reddit.com/r/epiccash/comments/kmhdgk/epiccash_mining_how_to_calculate_profitability/" target="_blank">
                                <div class="service service__style--2 minw270 text-left">
                                    <div class="icon ">
                                        <i class="fab fa-reddit"></i>
                                    </div>
                                    <div class="content">
                                        <h3 class="title">Reddit</h3>
                                        <p>
                                            Epic-Cash: Mining profitability
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- End single Article -->

                        <!-- start single Article -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-6">
                            <a href="https://www.reddit.com/r/epiccash/comments/jjo9cx/keybase_for_epiccash/" target="_blank">
                                <div class="service service__style--2 minw270 text-left">
                                    <div class="icon ">
                                        <i class="fab fa-reddit"></i>
                                    </div>
                                    <div class="content">
                                        <h3 class="title">Reddit</h3>
                                        <p>
                                            Keybase for Epic-Cash!
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- End single Article -->

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Articles Area -->

    <div class="rn-brand-area ptb--120 bg_color--1" id="partners">
        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="section-title text-center mb--30">
                                        <h2 class="title theme-gradient">PARTNERS</h2>
                                    </div>
                                </div>
                            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="brand-style-2">
                        <li>
                            <a href="https://epic.tech" target="_blank">
                                <img src="{{HOME_ASSET_ROOT}}/images/logo/EPIC_logo_160.png" alt="Logo Images">
                                <h4 class="text-white mt-3">epic.tech</h4>
                            </a>
                        </li>
                        <li>
                            <a href="https://fastepic.eu" target="_blank">
                                <img src="{{HOME_ASSET_ROOT}}/images/logo/fastepic-logo.png" alt="Logo Images">
                                <h4 class="text-white mt-3">fastepic.eu</h4>
                            </a>
                        </li>
                        <li>
                            <a href="https://epic-cash.com/" target="_blank">
                                <img src="{{HOME_ASSET_ROOT}}/images/logo/epic-cash-com.png" alt="Logo Images">
                                <h4 class="text-white mt-3">epic-cash.com</h4>
                            </a>
                        </li>
                        <li>
                            <a href="https://epicfundme.com/" target="_blank">
                                <img src="{{HOME_ASSET_ROOT}}/images/logo/epicfundme-logo.png" alt="Logo Images">
                                <h4 class="text-white mt-3">EpicFundMe</h4>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- FOOTER AREA -->
    <div class="footer-style-2 ptb--30 bg_color--4">
        <div class="wrapper plr--50 plr_sm--20">
            <div class="inner text-center pb-5">
                <ul class="social-share rn-lg-size d-flex justify-content-center liststyle">
                    <li><a target="_blank" href="https://www.linkedin.com/in/patryk-majkut-46035b1b4/"><i
                                class="fab fa-linkedin-in"></i></a></li>
                    <li><a target="_blank" href="https://twitter.com/blacktyg3r"><i class="fab fa-twitter"></i></a></li>
                    <li><a target="_blank" href="https://github.com/blacktyger/"><i class="fab fa-github"></i></a></li>
                    <li><a target="_blank" href="https://t.me/blacktyg3r"><i class="fab fa-telegram"></i></a></li>
                    <li><a target="_blank" href="https://blacktyg3r.medium.com/"><i class="fab fa-medium"></i></a>
                    <li><a target="_blank" href="https://www.reddit.com/user/blacktyg3r"><i class="fab fa-reddit"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-12 mt-4">
                <div class="inner text-center mt_md--30 mt_sm--20">
                    <div class="text">
                        <p>Copyright © 2022 `blacktyg3r. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Start Back To Top Start -->
    <!-- Start Top To Bottom Area  -->
    <div class="rn-progress-parent">
        <svg class="rn-back-circle svg-inner" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- End Top To Bottom Area  -->

    <!-- js  
======================================-->
    <!-- modernizer JS -->
    <script src="{{HOME_ASSET_ROOT}}/js/vendor/modernizer.min.js"></script>
    <!-- jquery JS -->
    <script src="{{HOME_ASSET_ROOT}}/js/vendor/jquery.js"></script>
    <!-- Bootstrap JS -->
    <script src="{{HOME_ASSET_ROOT}}/js/vendor/bootstrap.min.js"></script>

    <script src="{{HOME_ASSET_ROOT}}/js/vendor/avoid-console.js"></script>
    <script src="{{HOME_ASSET_ROOT}}/js/vendor/waypoint.js"></script>
    <script src="{{HOME_ASSET_ROOT}}/js/vendor/wow.js"></script>
    <script src="{{HOME_ASSET_ROOT}}/js/vendor/feather.js"></script>
    <script src="{{HOME_ASSET_ROOT}}/js/vendor/slick.min.js"></script>
    <script src="{{HOME_ASSET_ROOT}}/js/vendor/counterup.js"></script>
    <script src="{{HOME_ASSET_ROOT}}/js/vendor/video.js"></script>
    <script src="{{HOME_ASSET_ROOT}}/js/vendor/masonry.js"></script>
    <script src="{{HOME_ASSET_ROOT}}/js/vendor/lightbox.js"></script>
    <script src="{{HOME_ASSET_ROOT}}/js/vendor/particles.js"></script>
    <script src="{{HOME_ASSET_ROOT}}/js/vendor/backtotop.js"></script>

    <!-- main JS -->
    <script src="{{HOME_ASSET_ROOT}}/js/main.js"></script>

    <script>
        particlesJS('particles-js',

            {
                "particles": {
                    "number": {
                        "value": 60,
                        "density": {
                            "enable": true,
                            "value_area": 800
                        }
                    },
                    "color": {
                        "value": ["#ffffff", "#FF011F", "#cc3333", "#FF011F"]
                    },
                    "shape": {
                        "type": "circle",
                        "stroke": {
                            "width": 0,
                            "color": "#000000"
                        },
                        "polygon": {
                            "nb_sides": 4
                        },
                        "image": {
                            "src": "img/github.svg",
                            "width": 100,
                            "height": 100
                        }
                    },
                    "opacity": {
                        "value": 0.5,
                        "random": false,
                        "anim": {
                            "enable": false,
                            "speed": 1,
                            "opacity_min": 0.1,
                            "sync": false
                        }
                    },
                    "size": {
                        "value": 4,
                        "random": true,
                        "anim": {
                            "enable": false,
                            "speed": 40,
                            "size_min": 0.1,
                            "sync": false
                        }
                    },
                    "line_linked": {
                        "enable": true,
                        "distance": 150,
                        "color": "#ffffff",
                        "opacity": 0.4,
                        "width": 1
                    },
                    "move": {
                        "enable": true,
                        "speed": 2,
                        "direction": "none",
                        "random": false,
                        "straight": false,
                        "out_mode": "out",
                        "attract": {
                            "enable": false,
                            "rotateX": 600,
                            "rotateY": 1200
                        }
                    }
                },
                "interactivity": {
                    "detect_on": "canvas",
                    "events": {
                        "onhover": {
                            "enable": true,
                            "mode": "repulse"
                        },
                        "onclick": {
                            "enable": true,
                            "mode": "push"
                        },
                        "resize": true
                    },
                    "modes": {
                        "grab": {
                            "distance": 400,
                            "line_linked": {
                                "opacity": 1
                            }
                        },
                        "bubble": {
                            "distance": 800,
                            "size": 40,
                            "duration": 2,
                            "opacity": 8,
                            "speed": 3
                        },
                        "repulse": {
                            "distance": 200
                        },
                        "push": {
                            "particles_nb": 4
                        },
                        "remove": {
                            "particles_nb": 2
                        }
                    }
                },
                "retina_detect": true,
                "config_demo": {
                    "hide_card": false,
                    "background_color": "#b61924",
                    "background_image": "",
                    "background_position": "50% 50%",
                    "background_repeat": "no-repeat",
                    "background_size": "cover"
                }
            }

        );
    </script>
    </div>
</body>

</html>